<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870321759178-f257u8o2jeo4bkf4n8laji9t2nshpl2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870321759178-f257u8o2jeo4bkf4n8laji9t2nshpl2a</string>
	<key>API_KEY</key>
	<string>AIzaSyB5GekuE2N7CsQKrBUoZyy_S9gXXjotAgE</string>
	<key>GCM_SENDER_ID</key>
	<string>870321759178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phutl.ecommercialapp</string>
	<key>PROJECT_ID</key>
	<string>ecommercialapi-b220a</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommercialapi-b220a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870321759178:ios:51c0c9eb38a2bea17fe533</string>
</dict>
</plist>