<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510875403401-ukccmdp393s0iktglkohdu3jv11ke45d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510875403401-ukccmdp393s0iktglkohdu3jv11ke45d</string>
	<key>API_KEY</key>
	<string>AIzaSyBeVMMJCAq0yl7qaeNyCTHieKTkacSDLAk</string>
	<key>GCM_SENDER_ID</key>
	<string>510875403401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eCommercialApp</string>
	<key>PROJECT_ID</key>
	<string>ecommercialapp-a98cd</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommercialapp-a98cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510875403401:ios:1df1c69c9e905122193258</string>
</dict>
</plist>