<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818164448023-7cmb24u4tm0a5vg30bldadi7fgff7lj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818164448023-7cmb24u4tm0a5vg30bldadi7fgff7lj0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>818164448023-gkno1nmgog79gka6934fcsq0mgrl7de9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJLsx6UKL7ImgjiUR8nPaZ-deXf5Innog</string>
	<key>GCM_SENDER_ID</key>
	<string>818164448023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phutl.ecommercialapp</string>
	<key>PROJECT_ID</key>
	<string>strong-maker-353301</string>
	<key>STORAGE_BUCKET</key>
	<string>strong-maker-353301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818164448023:ios:e4e03598ff62c662c91552</string>
	<key>DATABASE_URL</key>
	<string>https://strong-maker-353301-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>