<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TestThunk.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BD61167678F201C5DDE2B79C3F7E0250ACD739DE</string>
				<key>dateExpires</key>
				<string>19/07/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>46UMBACQ4A.org.reactjs.native.example.TestThunk</string>
				<key>com.apple.developer.team-identifier</key>
				<string>46UMBACQ4A</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>TestThunk.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>41931b35-79b5-4ab7-98e6-83f7d26d3d2a</string>
				<key>dateExpires</key>
				<string>18/08/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>46UMBACQ4A</string>
				<key>name</key>
				<string>MOBILE LIFE JAPAN Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
